:root {
  --clr-main-100: #ffffff;
  --clr-main-200: #f1f3f4;
  --clr-main-300: #dcdfe1;
  --clr-main-400: #d8d8d8;
  --clr-main-500: #191919;
  --clr-main-600: #000000;

  --clr-orange: #ff8200;
  --clr-red: #ff0000;
  --clr-blue-100: #04a1d9;
  --clr-blue-200: #003580;
  --clr-green-100: #00a75f;

  --clr-gradient-100: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  --clr-gradient-200: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  --clr-gradient-300: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
