// This style has been used on "List" and "City Detalis" page //

.apartment-card-wrapp {
  .apartment-card {
    position: relative;
    .img-container {
      margin-bottom: 10px;
      position: relative;
      img {
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 15px;
        object-fit: cover;
        &.small-img {
          max-height: 155px;
        }
      }
      .labels {
        position: absolute;
        top: 10px;
        left: 10px;
        text-transform: uppercase;
        color: var(--clr-main-100);
        letter-spacing: 0.91;
        background-color: var(--clr-orange);
        padding: 3px 15px;
        border-radius: 10px;
        &.available-soon-label {
          background-color: var(--clr-main-100);
          color: var(--clr-green-100);
          font-size: 11px;
          font-weight: 900;
          padding: 7px 15px;
          border-radius: 15px;
          display: flex;
          align-items: center;
          letter-spacing: 1;
          &:before {
            content: "";
            width: 9px;
            height: 9px;
            background: var(--clr-green-100);
            display: block;
            margin-right: 10px;
            border-radius: 50%;
          }
          &::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            display: block;
            margin-right: 10px;
            border-radius: 50%;
            border: 1px solid var(--clr-green-100);
            left: 12px;
          }
        }
      }
      .icon {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--clr-main-100);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .card-details {
      .details {
        display: flex;
        align-items: center;
        gap: 4px;
        opacity: 0.6;
        .separator-dot {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: var(--clr-main-500);
        }
      }
    }
    .card-description {
      margin-top: 10px;
    }
    .card-price-details {
      display: flex;
      align-items: flex-end;
      gap: 24px;
      margin-top: 20px;
      p {
        line-height: 5px;
      }
      .label {
        opacity: 0.6;
      }
    }
  }
  &.fav-apartment-card {
    .apartment-card {
      display: flex;
      gap: 20px;
      @media only screen and (max-width: 720px) {
        flex-direction: column;
        gap: 0;
      }
      .img-container {
        flex-basis: 300px;
        @media only screen and (max-width: 720px) {
          flex-basis: initial;
        }
      }
    }
  }
}
