.buttons-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px 0;
}
button {
  cursor: pointer;
  &.btn {
    border: 1px solid var(--clr-blue-100);
    padding: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-blue-100);
    border-radius: 5px;
    background: transparent;
  }
  &.radial-btn {
    border: 2px solid var(--clr-blue-100);
    background: var(--clr-main-100);
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: var(--clr-blue-100);
  }
  &.link-btn {
    background: transparent;
    border: none;
  }
  &.black-btn {
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(160, 165, 170, 0.3);
    background-color: var(--clr-main-500);
    color: var(--clr-main-100);
    padding: 10px 45px;
  }
  &.booking-btn {
    background-color: var(--clr-blue-100);
    border-radius: 10px;
    color: var(--clr-main-100);
    border: none;
    padding: 10px 70px;
  }
  &.border-btn{
    border: 1px solid var(--clr-blue-100);
    color: var(--clr-blue-100);
    background-color: transparent;
    padding: 10px 45px;
    border-radius: 5px;
  }
}
