// About us section
.about-us-cards {
  .card {
    border: 1px solid var(--clr-main-300);
    border-radius: 10px;
    padding: 20px;
    > .title {
      margin: 14px 0 6px;
    }
  }
}
// Out cities section
.our-cities {
  padding-bottom: 72px;
  .city-card {
    min-height: 355px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 15px;
    color: var(--clr-main-100);
    cursor: pointer;
    > * {
      z-index: 2;
      line-height: 1;
    }
    background: url(../assets/img/geneva.png) no-repeat center;
    background-size: cover;
    &:after {
      content: "";
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      border-radius: 15px;
      pointer-events: none;
    }
    .apartments-details {
      margin-top: 10px;
    }
  }
}
// Category section
.category {
  background-color: var(--clr-main-200);
  padding-bottom: 72px;
  .filters-container {
    margin: 20px 0;
  }
  .category-card {
    border-radius: 15px;
    height: 325px;
    background: var(--clr-main-100);
    display: flex;
    flex-direction: column;

    img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 150px;
    }
    .card-content {
      flex-grow: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      .arrow {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: rotate(-90deg) translateY(50%);
      }
      h3 {
        line-height: 1.1;
        width: 50%;
      }
      p {
        width: 60%;
      }
    }
  }
}

.description {
  p {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// Sliding section with 3 cards
.sliding-content {
  &.disable-top-padding {
    padding-top: 0;
  }
  .sliding-card {
    .card-img {
      position: relative;
      background: url(../assets/img/room.png) no-repeat center;
      background-size: cover;
      width: 100%;
      min-height: 206px;
      border-radius: 15px;
      margin-bottom: 10px;
      .labels {
        position: absolute;
        top: 10px;
        left: 10px;
        text-transform: uppercase;
        color: var(--clr-main-100);
        letter-spacing: 0.91;
        background-color: var(--clr-orange);
        padding: 3px 15px;
        border-radius: 10px;
      }
      .icon {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--clr-main-100);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .details {
      display: flex;
      align-items: center;
      gap: 4px;
      opacity: 0.6;
      .separator-dot {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: var(--clr-main-500);
      }
    }
    .short-description {
      margin-top: 10px;
    }
  }
}
// Unknown section with lorem ipsum txt
.unknown-section {
  .card {
    .icon {
      font-size: 28px;
      margin-bottom: 30px;
    }
    .title {
      margin-bottom: 18px;
    }
  }
}
// Unknown section with two large cards
.unknown-section-2 {
  .card {
    .img-container {
      background: url(../assets/img/room.png) no-repeat center;
      background-size: cover;
      height: 300px;
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        opacity: 0.6;
        position: absolute;
        inset: 0;
      }
    }
    .contenet-container {
      padding: 45px 38px;
      color: var(--clr-main-100);
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      position: relative;
      p {
        width: 80%;
        margin: 10px 0 20px;
      }
      a {
        color: var(--clr-main-100);
        text-decoration: none;
      }
      &.blue-card {
        background-color: var(--clr-blue-100);
      }
      &.black-card {
        background-color: var(--clr-main-500);
      }
      .card-chevron {
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 45px;
        right: 38px;
        background-color: var(--clr-main-500);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 30px;
        }
        &.blue {
          background-color: var(--clr-blue-100);
        }
      }
    }
  }
}
// Usefull links section
.links {
  .links-wrapp {
    display: flex;
    flex-direction: column;
    .link {
      padding: 5px 0;
      border-bottom: 1px solid var(--clr-main-200);
    }
  }
}
