.list-section {
  .list-container {
    position: relative;
  }
  .show-map-btn {
    display: flex;
    align-items: center;
    background-color: var(--clr-main-500);
    color: var(--clr-main-100);
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    cursor: pointer;
    .icon {
      font-size: 20px;
      margin-left: 10px;
    }
  }
}
